* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  color: #000000;
  background-color: #000000;
}
@font-face {
  font-family: kajiro;
  src: url("assets/Kajiro/Kajiro Bold.ttf");
}

#main0 {
  height: 100vh;
  width: 100%;
  color: #c46120;
}
#back {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#front {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
#workingarea {
  position: relative;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
#nleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}
#nleft a {
  pointer-events: all;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 700;
  color: #c46120;

}
#nleft img {
  height: 3vw;
  cursor: pointer;
}
#nright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}
#nright a {
  pointer-events: all;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 700;
  color: #c46120;
}

#hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
#heroleft {
  min-width: 50%;
}
.elem {
  position: relative;
  height: 10vw;
  overflow: hidden;
}
.elem h1 {
  position: absolute;
  top: 100%;
  left: 0;
  font-family: "kajiro";
  line-height: 0.9;
  font-size: 12vw;
  font-weight: 100;
}
.elem h1:nth-child(1) {
  top: 0;
}
#heroleft button {
  pointer-events: all;
  padding: 0.3vw 2.5vw;
  line-height: 1.2;
  font-size: 3vw;
  margin-top: 2vw;
  letter-spacing: 0.2vw;
  font-family: "kajiro";
}
#heroright {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#heroright p {
  font-size: 1.05vw;
  font-weight: 300;
}
#heroright p:nth-child(3) {
  margin-bottom: 4vw;
}
#heroright #imgdiv {
  width: 100%;
  height: 15vw;
  background-image: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  margin: 2vw 0;
}
#main1 {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
#top {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50%;
  background-color: #c46120;
}
#th {
  font-size: 12vw;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  position: absolute;
  bottom: -20%;
  color: #000000;
}
#center {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#center h1 {
  margin-top: 17%;
  font-size: 12vw;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  color: #c46120;
}
#center p {
  text-align: center;
  line-height: 1.5;
  width: 90%;
  height: fit-content;
  padding: 1vw 2vw;
  font-size: 0.9vw;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  color: #c46120;
}
#bottom {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50%;
  background-color: #c46120;
}
#bh {
  font-size: 12vw;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  position: absolute;
  top: -20%;
}
#main2 {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}
#vid {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(100% at 50% 50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  object-position: center;
}
#slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  padding: 10px 0;
}
.lft {
  transform: translate(3%, 0);
}
.rgt {
  transform: translate(-10%, 0);
}
.row {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}
.row h1 {
  font-size: 5vw;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  color: #c46120;
}
.row img {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
#main3 {
  width: 100%;
  height: 100vh;
}
